<div class="row top7" inline></div>

<div class="login-container">
    <div class="login-header text-center">
        <div class="col-md-9 col-md-offset-2">
            <div class="row">
                <h1 mat-dialog-title>Hi {{data.name}}</h1>
                <div mat-dialog-content>
                    <p *ngIf="data.entity">Do you want to change the existing {{data.checkForField}}</p>
                    <p *ngIf="!data.entity">Enter your {{data.checkForField}}</p>
                        <div class="row">
                            <form  ngNativeValidate #loginForm="ngForm">
                                <mat-form-field>
                                    <input matInput tabindex="1" name="mobile"[(ngModel)]="data.entity">
                                </mat-form-field>
                            </form>
                        </div>
                </div>
                <div mat-dialog-actions>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xm-6 pull-right">
                                <button type="button" class="btn btn-primary" (click)="onNoClick()">No Thanks</button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xm-6 pull-left">
                                <button type="button" class="btn btn-primary" [mat-dialog-close]="data.entity" cdkFocusInitial>Ok</button>

                                <!--<button type="button" class="btn btn-primary" (click)="saveMobile(data.entity)">Ok</button>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>