<!--component html goes here -->
 <div class="row display-inline">
     <div class="col-lg-12 col-md-12 col-sm-12"></div>
 </div>

<div class="container " id="maincontainer">
    <div class="center-block col-6  tab-container">
          
          <div class="row profile-detail">
          </div>

        <!--<div class="row">-->
            <div class="col-lg-7 col-md-7 col-sm-12 col-xm-12 col-md-offset-0">
                <div class="user-profile">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12  col-xm-12" style="padding: 0; padding-bottom: 15px;">

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xm-4 pull-left ad-images text-center">
                                        <img [src]="userProfile.userImage" class=" card-img-top" onError="this.src='assets/images/logo.png';" alt="..."
                                             width="199" height="183">
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-12 col-xm-12 col-md-offset-0">
                                        <div class="space">
                                            <div class="row">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xm-7 ad-desc pull-left" style="padding-left: 6px;">
                                        <div class="card-block">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12 pull-left">
                                                    <h4 class="card-title1 text-left"><strong><button class="pull-left" mat-button ><h4><strong>{{userProfile.firstName}}</strong></h4></button></strong></h4>
                                                    
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="pull-right ad-close-btn">
                                                <!--<button type="button" class="close" (click)="goback()" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                </button>-->
                                            </div>

                                        <!--<legend></legend>-->
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12 pull-left" *ngIf="(userProfile.address | json) != '{}' ; else other_content">
                                                        <p><button class="pull-left" mat-button (click)="openDialogAddress()">
                                                                <p *ngIf="userProfile.address.room">{{userProfile.address.room}}</p>
                                                                <p *ngIf="userProfile.address.locality">,{{userProfile.address.locality}}</p>
                                                                <p *ngIf="userProfile.address.city">,{{userProfile.address.city}}</p>
                                                                <p *ngIf="userProfile.address.state">,{{userProfile.address.state}}</p>
                                                                <p *ngIf="userProfile.address.zipCode">-{{userProfile.address.zipCode}}</p> 
                                                            </button></p>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12 pull-left">
                                                                <ng-template #other_content>
                                                                    <p>
                                                                        <button class="pull-left" mat-button >Enter Address</button>
                                                                    </p>    
                                                                </ng-template>
                                                        </div>
                                                    </div>   
                                                </div>
                                            </div>
                                        </div>
                                         <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12 pull-left" *ngIf="userProfile.userMobile; else enter_mobile">
                                                        <p><button class="pull-left" mat-button (click)="openDialogMobile()">{{userProfile.userMobile}}</button></p>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12 col-xm-5 pull-left">
                                                            <!--<ng-template #enter_mobile >Enter Mobile Number</ng-template>-->
                                                            <ng-template #enter_mobile > 
                                                                <p>
                                                                    <button class="pull-left" mat-button (click)="openDialogMobile()">Enter Mobile Number</button>
                                                                </p>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                         <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12 pull-left" *ngIf="userProfile.userMobile; else enter_mobile">
                                                        <p><button class="pull-left" mat-button (click)="openDialogPassword()">Change Password</button></p>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12 col-xm-5 pull-left">
                                                            <!--<ng-template #enter_mobile >Enter Mobile Number</ng-template>-->
                                                            <ng-template #enter_mobile > 
                                                                <p>
                                                                    <button class="pull-left" mat-button >Enter Password</button>
                                                                </p>
                                                            </ng-template>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xm-12 pull-left" *ngIf="userProfile.userEmail">
                                                        <p class="user-mobile pull-left">{{userProfile.userEmail}}</p>
                                                        <!--<p ><b><button mat-button (click)="openDialogemail()">{{userProfile.userEmail}}</button> </b></p>-->
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="col-lg-5 col-md-5 col-sm-12 col-xm-12 col-md-offset-0">
                <div class ="user-ads">
                    <h3>Ads Uploaded for Selling/Renting</h3>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row" *ngIf="adsList?.length > 0 ; else no_ads">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12 panel panel-default" style="padding-top: 15px; padding-bottom: 15px;" *ngFor="let ad of adsList; let i=index">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xm-4 pull-left ad-images text-center">
                                            <img [src]="ad.adImageUrl" class=" card-img-top" onError="this.src='assets/images/logo.png';" alt="..."
                                                                width="100" height="150">
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xm-8 ad-desc pull-left" style="padding-left: 0;">
                                            <div class="card-block">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12 pull-left">
                                                        <h4 class="card-title1 text-left"><strong>{{ad.adTitle}}</strong></h4>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="pull-right ad-close-btn">
                                                    <!--<button type="button" class="close" (click)="goback()" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>-->
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12 pull-left" *ngIf="ad.adInfo">
                                                                <p>{{ad.adInfo}}</p>
                                                                    <!--<p ><b><button mat-button (click)="openDialogemail()">{{userProfile.userEmail}}</button> </b></p>-->
                                                            </div>                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xm-12 panel panel-default" style="padding-top: 15px; padding-bottom: 15px;">-->
                                <ng-template #no_ads> 
                                    <p>
                                        You have not added any iteams
                                    </p>
                                </ng-template>
                            <!--</div>-->
                        </div>
                    </div>
                </div>
            </div>
        
            <!--<form (submit)="update()" #profileForm="ngForm" class="form-horizontal">
                <div class="form-group">
                    <label for="coName" class="col-lg-4 col-md-4 col-sm-4 control-label ">
                        <span class="asterisk">*</span>Account Holder’s Name
                        <br>
                        <small></small>
                    </label>
                    <div class="col-lg-6 col-md-6 col-sm-5 errorPlaceholder">
                        <input type="text" class="form-control" id="accountName" name="accountName" [(ngModel)]="bankAccount.accountName" placeholder="Enter the Name as per your Account" required>
                    </div>
                </div>
                <div class= "col-lg-12 col-md-12 col-sm-12 ">
                    <img mat-card-image class="profile-image" src="userProfile.userImage" onError="this.src='assets/images/download.png';" alt="Photo of a Shiba Inu">
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <mat-form-field>
                        <input  matInput type="text" placeholder="First Name" id="username" [(ngModel)]="userProfile.firstName" name="username" required>
                    </mat-form-field>
                </div>
                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                    <div class="col-md-offset-4">
                        <button type="submit" class="btn btn-default btn-outlined">Save And Proceed</button>
                        <a href="{{dashboardURL}}" class="btn btn-default btn-outlined col-md-offset-1">Cancel</a>
                        <button type="button" class="btn btn-default col-md-offset-1 btn-outlined" (click)="navigateToNextTab()">Skip</button>
                    </div>
                </div>
            </form>-->
        
        <!--</div>-->
    </div>
</div>