// component css goes here


.row-eq-height{
        min-height: 240px;
}
.h4, h4{
    text-align: left;
    padding-left: 20px;
}
h4.card-title{
    text-align: left;
    padding-left: 20px;
}
h4.card-title-header{
    text-align: left;
    padding-left: 4px;
    text-overflow: ellipsis; 
    overflow: hidden; 
    width: 220px; 
    white-space: nowrap; 
}
p.card-text{
    
    text-align: left;
    padding-left: 4px;
}
span.btn-span{
    align-self: right;
    padding-left: 10px;
}
.card-design {
  //border: 1px solid #ddd;
    padding: 0 0 1% 0;
    margin: 1px 0 15px 0;
   // border-radius: 5%;
    background-color: #FFF;
    cursor: pointer;
    -o-box-shadow: 0px 1px 5px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0px 1px 5px 0px rgba(51, 51, 51, 0.5);
    box-shadow: 0px 1px 5px 0px rgba(51, 51, 51, 0.5);
}
.card-design:hover > .card-img > img{
    // box-shadow : 2px 2px 2px grey;
    transform: scale3d(1.2, 1.2, 1);
}
.card-img{
    width : 100%;
    height: 183px;
    overflow: hidden;
}
.card-img > img {
    width : 100%;
    transition: all 0.3s ease-in-out;
}
.card-block{
    padding: 0 1%;
}
.card-footer{  
    position: absolute;
    bottom: 5%;
    width: 100%;
    left: -3%;
    text-align: center;
}
.btn-span > button.btn {
    border-radius: 50%;
    color : white;
}
.btn-free{
  background-color:#33c0f9;   
  float :right;
  margin: -15px 5px 5px 0 ;
  padding : 0px 3px;   
  }
button.btn.btn-free{
    text-align: left
    
}
.btn-rent{
  background-color:#04d64f; 
  float: right;
  margin: -15px 5px 5px 0 ;
  padding : 0px 3px;    
}
.btn-buy{
  background-color:#f57f17; 
  float: right;
  margin: -15px 5px 5px 0 ;
  padding : 0px 3px;    
}
.carousel-control {
position: absolute;
top: 50%; /* pushes the icon in the middle of the height */
z-index: 5;
display: inline-block;
}

.carousel-slider {
    border-radius: 7% 9% 0% 0%;
    OVERFLOW: auto;
}
a.right.carousel-control.carousel-control-next {
    background: transparent;
}
a.left.carousel-control.carousel-control-prev {
    background: transparent;
}
.search-results {
      height: 100% !important;
      // overflow: scroll;

    }
.panel-body-list{
    margin-left: 0 -125px 0 125px;
}

