<div class="row">
<div class="col-md-12">
    <!--component html goes here -->

        <div class="search-results"
         infinite-scroll
         [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
            <div class="row">

                <div class="panel-default" >
                    <div class="panel-body-list">
                        <div class="row col-lg-12 col-md-12 col-sm-12">
                            <div class="d-inline col-lg-3 col-md-3 col-sm-3 " *ngFor="let ad of search.adResponse.ads;let i=index ">


                                <!--Card-->
                                <div class="card card-design row-eq-height text-center" (click)="navigateToAdDetailsTab(ad.adId)">
                                    <div class="card-img">
                                        <img [src]="ad.adImageUrl[0]" class="card-img-top" onError="this.src='assets/images/download.png';" alt="..."
                                                    width="250" height="183">
                                        <a>
                                            <div class="mask waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <div class="card-share">
                                        <a class="btn-floating btn-action primary-color-dark float-right"><i class="fa fa-heart"></i></a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title-header">{{ad.adTitle}}</h4>
                                        
                                        <p class="card-text" >{{adConditionToDisplay(ad.adCondition)}}</p>

                                            <div class="row" *ngIf="ad.adType.includes('Sell'); else space">
                                                        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xm-5 pull-left">
                                                             <span class="btn-span"><button class="btn btn-buy-description">Buy</button></span>
                                                         </div>-->
                                                         <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11">
                                                             <p class="card-text text-bold" style="margin: 0; padding-top: 4px;">&#8377; {{ad.adPrice}}</p>
                                                         </div>
                                                     </div>
                                                    <ng-template #space > 
                                                         <div class="row">
                                                        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xm-5 pull-left">
                                                             <span class="btn-span"><button class="btn btn-buy-description">Buy</button></span>
                                                         </div>-->
                                                            <div  class="col-lg-11 col-md-11 col-sm-11 col-xm-11">
                                                                <p class="card-text text-bold" style="margin: 0; padding-top: 4px;">-</p>
                                                            </div>
                                                        </div>
                                                    </ng-template>
                                                     <div class="row" *ngIf="ad.adType.includes('Rent'); else space1">
                                                        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xm-5 pull-left">
                                                             <span class="btn-span"><button class="btn btn-rent-description">Rent</button></span>
                                                         </div>-->
                                                         <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11">
                                                             <p class="card-text text-bold" style="margin: 0; padding-top: 4px;">&#8377; {{ad.adRentPrice}} {{adRentTypeToDisplay(ad.adRentType)}} </p>
                                                         </div>
                                                     </div>
                                                    <ng-template #space1 > 
                                                         <div  *ngIf="!ad.adType.includes('Donate')" class="row" >
                                                        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xm-5 pull-left">
                                                             <span class="btn-span"><button class="btn btn-buy-description">Buy</button></span>
                                                         </div>-->
                                                                <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11">
                                                                    <p class="card-text text-bold" style="margin: 0; padding-top: 4px;">-</p>
                                                                </div>
                                                        </div>
                                                    </ng-template>

                                                     <div class="row" *ngIf="ad.adType.includes('Donate')">
                                                         <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11 pull-left">
                                                             <p class="card-text text-bold" style="margin: 0; padding-top: 4px;">Free</p>
                                                         </div>
                                                     </div>
                                            <span class="btn-span"><button class="btn btn-free" *ngIf="ad.adType.includes('Donate')">Free</button>
                                                                    <button class="btn btn-rent" *ngIf="ad.adType.includes('Rent')">Rent</button>
                                                                    <button class="btn btn-buy" *ngIf="ad.adType.includes('Sell')">Buy</button>
                                            </span>
                                        <div class="row col-lg-12 col-md-12 col-sm-12">
                                            <div class="row">
                                            </div>
                                        </div>   


                                    </div>
                                    <!--  <div class="card-footer">
                                        <button (click)="navigateToAdDetailsTab(ad.adId)" class="btn btn-primary">Details</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
