
<!--component html goes here -->
<div *ngFor="let adSection of saac.adSections ;let i=index ">

 <h3 style="display:inline-block; margin-top: 0;">{{adSection.sectionTitle}}</h3>
<button style="margin-top:0;" type="button" class="btn pull-right" (click)="sectionAdsList(adSection.sectionId)" target="_self">View All</button>

    <div class="panel panel-default" >
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 carousel-container indicators-sake" style="padding:0;">
                <carousel class="multi-carousel home-carousel" [noWrap]="true" [interval]=0>
                    <slide class="d-inline col-lg-12 col-md-12 col-sm-12 " *ngFor="let ad of adSection.sectionAds;let i=index ">
                        <div class="" *ngIf="i<adSection.sectionAds.length">
                            <!--Card-->
                            <div class="row">
                                <div class="d-inline card-outer col-lg-3 col-md-3 col-sm-4">
                                    <div *ngIf="adSection.sectionAds[i]" class="card card-design row-eq-height text-center first-card" (click)="navigateToAdDetailsTab(adSection.sectionAds[i].adId)" >
                                        <div class="card-img">
                                            <img [src]="adSection.sectionAds[i].adImageUrl[0]" class=" card-img-top" onError="this.src='assets/images/download.png';" alt="..."
                                                    width="225.63" height="183">
                                            <a>
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                        
                                        <div class="card-share">
                                            <a class="btn-floating btn-action primary-color-dark float-right"><i class="fa fa-heart"></i></a>
                                        </div>
                                        <div class="card-block">
                                            <h4 class="card-title-header">{{adSection.sectionAds[i].adTitle}}</h4>
                                            
                                            <p class="card-text">{{adConditionToDisplay(adSection.sectionAds[i].adCondition)}}</p>

                                            <div class="row" *ngIf="adSection.sectionAds[i].adType.includes('Sell')">
                                                        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xm-5 pull-left">
                                                             <span class="btn-span"><button class="btn btn-buy-description">Buy</button></span>
                                                         </div>-->
                                                         <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11">
                                                             <p class="card-text text-bold" style="margin: 0; padding-top: 4px;">&#8377; {{adSection.sectionAds[i].adPrice}}</p>
                                                         </div>
                                                     </div>
                                                     <div class="row" *ngIf="adSection.sectionAds[i].adType.includes('Rent')">
                                                        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xm-5 pull-left">
                                                             <span class="btn-span"><button class="btn btn-rent-description">Rent</button></span>
                                                         </div>-->
                                                         <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11">
                                                             <p class="card-text text-bold" style="margin: 0; padding-top: 4px;">&#8377; {{adSection.sectionAds[i].adRentPrice}} {{adRentTypeToDisplay(adSection.sectionAds[i].adRentType)}} </p>
                                                         </div>
                                                     </div>
                                                     <div class="row" *ngIf="adSection.sectionAds[i].adType.includes('Donate')">
                                                         <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11 pull-left">
                                                             <p class="card-text text-bold" style="margin: 0; padding-top: 4px;">Free</p>
                                                         </div>
                                                     </div>
                                                     

                                            <span class="btn-span">
                                                <button class="btn btn-free" *ngIf="adSection.sectionAds[i].adType.includes('Donate')">Free</button>
                                                <button class="btn btn-rent" *ngIf="adSection.sectionAds[i].adType.includes('Rent')">Rent</button>
                                                <button class="btn btn-buy" *ngIf="adSection.sectionAds[i].adType.includes('Sell')">Buy</button>
                                            </span>
                                        </div>
                                    

                                    <!-- <div class="card-footer">
                                            <button (click)="navigateToAdDetailsTab(adSection.sectionAds[i].adId)" class="btn btn-primary">Go somewhere</button>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="d-inline card-outer col-lg-3 col-md-3 col-sm-4 second-card" style="padding-right: 0;">
                                    <div *ngIf="adSection.sectionAds[i+1]" class="card card-design row-eq-height text-center" (click)="navigateToAdDetailsTab(adSection.sectionAds[i+1].adId)" >
                                        <div class="card-img">
                                            <img [src]="adSection.sectionAds[i+1].adImageUrl[0]" class=" card-img-top" onError="this.src='assets/images/download.png';" alt="..."
                                                    width="225.63" height="183">
                                            <a>
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                    
                                        <div class="card-share">
                                            <a class="btn-floating btn-action primary-color-dark float-right"><i class="fa fa-heart"></i></a>
                                        </div>
                                        <div class="card-block">
                                            <h4 class="card-title-header">{{adSection.sectionAds[i+1].adTitle}}</h4>
                                            
                                            <p class="card-text">{{adConditionToDisplay(adSection.sectionAds[i+1].adCondition)}}</p>
                                            <div class="row" *ngIf="adSection.sectionAds[i].adType.includes('Sell')">
                                                        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xm-5 pull-left">
                                                             <span class="btn-span"><button class="btn btn-buy-description">Buy</button></span>
                                                         </div>-->
                                                         <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11">
                                                             <p class="card-text text-bold" style="margin: 0; padding-top: 4px;">&#8377; {{adSection.sectionAds[i+1].adPrice}}</p>
                                                         </div>
                                                     </div>
                                                     <div class="row" *ngIf="adSection.sectionAds[i].adType.includes('Rent')">
                                                        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xm-5 pull-left">
                                                             <span class="btn-span"><button class="btn btn-rent-description">Rent</button></span>
                                                         </div>-->
                                                         <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11">
                                                             <p class="card-text text-bold" style="margin: 0; padding-top: 4px;">&#8377; {{adSection.sectionAds[i+1].adRentPrice}} {{adRentTypeToDisplay(adSection.sectionAds[i+1].adRentType)}} </p>
                                                         </div>
                                                     </div>
                                                     <div class="row" *ngIf="adSection.sectionAds[i].adType.includes('Donate')">
                                                         <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11 pull-left">
                                                             <p class="card-text text-bold" style="margin: 0; padding-top: 4px;">Free</p>
                                                         </div>
                                                     </div>
                                            <span class="btn-span">
                                                <button class="btn btn-free" *ngIf="adSection.sectionAds[i+1].adType.includes('Donate')">Free</button>
                                                <button class="btn btn-rent" *ngIf="adSection.sectionAds[i+1].adType.includes('Rent')">Rent</button>
                                                <button class="btn btn-buy" *ngIf="adSection.sectionAds[i+1].adType.includes('Sell')">Buy</button>
                                            </span>
                                        </div>
                                    

                                    <!-- <div class="card-footer">
                                            <button (click)="navigateToAdDetailsTab(adSection.sectionAds[i].adId)" class="btn btn-primary">Go somewhere</button>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="d-inline card-outer col-lg-3 col-md-3 col-sm-4 third-card" style="padding-right: 0;">
                                    <div *ngIf="adSection.sectionAds[i+2]" class="card card-design row-eq-height text-center" (click)="navigateToAdDetailsTab(adSection.sectionAds[i+2].adId)" >
                                        <div class="card-img">
                                            <img [src]="adSection.sectionAds[i+2].adImageUrl[0]" class=" card-img-top" onError="this.src='assets/images/download.png';" alt="..."
                                                    width="225.63" height="183">
                                            <a>
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                    
                                        <div class="card-share">
                                            <a class="btn-floating btn-action primary-color-dark float-right"><i class="fa fa-heart"></i></a>
                                        </div>
                                        <div class="card-block">
                                            <h4 class="card-title-header">{{adSection.sectionAds[i+2].adTitle}}</h4>
                                            
                                            <p class="card-text">{{adConditionToDisplay(adSection.sectionAds[i+2].adCondition)}}</p>
                                            <div class="row" *ngIf="adSection.sectionAds[i].adType.includes('Sell')">
                                                        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xm-5 pull-left">
                                                             <span class="btn-span"><button class="btn btn-buy-description">Buy</button></span>
                                                         </div>-->
                                                         <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11">
                                                             <p class="card-text text-bold" style="margin: 0; padding-top: 4px;">&#8377; {{adSection.sectionAds[i+2].adPrice}}</p>
                                                         </div>
                                                     </div>
                                                     <div class="row" *ngIf="adSection.sectionAds[i].adType.includes('Rent')">
                                                        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xm-5 pull-left">
                                                             <span class="btn-span"><button class="btn btn-rent-description">Rent</button></span>
                                                         </div>-->
                                                         <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11">
                                                             <p class="card-text text-bold" style="margin: 0; padding-top: 4px;">&#8377; {{adSection.sectionAds[i+2].adRentPrice}} {{adRentTypeToDisplay(adSection.sectionAds[i+2].adRentType)}} </p>
                                                         </div>
                                                     </div>
                                                     <div class="row" *ngIf="adSection.sectionAds[i].adType.includes('Donate')">
                                                         <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11 pull-left">
                                                             <p class="card-text text-bold" style="margin: 0; padding-top: 4px;">Free</p>
                                                         </div>
                                                     </div>
                                            <span class="btn-span">
                                                <button class="btn btn-free" *ngIf="adSection.sectionAds[i+2].adType.includes('Donate')">Free</button>
                                                <button class="btn btn-rent" *ngIf="adSection.sectionAds[i+2].adType.includes('Rent')">Rent</button>
                                                <button class="btn btn-buy" *ngIf="adSection.sectionAds[i+2].adType.includes('Sell')">Buy</button>
                                            </span>
                                        </div>
                                    

                                    <!-- <div class="card-footer">
                                            <button (click)="navigateToAdDetailsTab(adSection.sectionAds[i].adId)" class="btn btn-primary">Go somewhere</button>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="d-inline card-outer col-lg-3 col-md-3 col-sm-4 fourth-card">
                                    <div *ngIf="adSection.sectionAds[i+3]" class="card card-design row-eq-height text-center" (click)="navigateToAdDetailsTab(adSection.sectionAds[i+3].adId)" >
                                        <div class="card-img">
                                            <img [src]="adSection.sectionAds[i+3].adImageUrl[0]" class=" card-img-top" onError="this.src='assets/images/download.png';" alt="..."
                                                    width="225.63" height="183">
                                            <a>
                                                <div class="mask waves-effect waves-light"></div>
                                            </a>
                                        </div>
                                    
                                        <div class="card-share">
                                            <a class="btn-floating btn-action primary-color-dark float-right"><i class="fa fa-heart"></i></a>
                                        </div>
                                        <div class="card-block">
                                            <h4 class="card-title-header">{{adSection.sectionAds[i+3].adTitle}}</h4>
                                            
                                            <p class="card-text">{{adConditionToDisplay(adSection.sectionAds[i+3].adCondition)}}</p>
                                            <div class="row" *ngIf="adSection.sectionAds[i+3].adType.includes('Sell')">
                                                        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xm-5 pull-left">
                                                             <span class="btn-span"><button class="btn btn-buy-description">Buy</button></span>
                                                         </div>-->
                                                         <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11">
                                                             <p class="card-text text-bold" style="margin: 0; padding-top: 4px;">&#8377; {{adSection.sectionAds[i+3].adPrice}}</p>
                                                         </div>
                                                     </div>
                                                     <div class="row" *ngIf="adSection.sectionAds[i].adType.includes('Rent')">
                                                        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xm-5 pull-left">
                                                             <span class="btn-span"><button class="btn btn-rent-description">Rent</button></span>
                                                         </div>-->
                                                         <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11">
                                                             <p class="card-text text-bold" style="margin: 0; padding-top: 4px;">&#8377; {{adSection.sectionAds[i+3].adRentPrice}} {{adRentTypeToDisplay(adSection.sectionAds[i+3].adRentType)}} </p>
                                                         </div>
                                                     </div>
                                                     <div class="row" *ngIf="adSection.sectionAds[i].adType.includes('Donate')">
                                                         <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11 pull-left">
                                                             <p class="card-text text-bold" style="margin: 0; padding-top: 4px;">Free</p>
                                                         </div>
                                                     </div>
                                            <span class="btn-span">
                                                <button class="btn btn-free" *ngIf="adSection.sectionAds[i+3].adType.includes('Donate')">Free</button>
                                                <button class="btn btn-rent" *ngIf="adSection.sectionAds[i+3].adType.includes('Rent')">Rent</button>
                                                <button class="btn btn-buy" *ngIf="adSection.sectionAds[i+3].adType.includes('Sell')">Buy</button>
                                            </span>
                                        </div>
                                    

                                    <!-- <div class="card-footer">
                                            <button (click)="navigateToAdDetailsTab(adSection.sectionAds[i].adId)" class="btn btn-primary">Go somewhere</button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>
</div>
</div>