  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xm-12 col-md-offset-0">
        <div class="ad-details">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12  col-xm-12" >
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xm-4 pull-left ad-images text-center">
                                
                                <div>
                                        <img [src]="mainImageSrcURL" class=" card-img-top" onError="this.src='assets/images/logo.png';" alt="..."
                                                        width="199" height="183">
                                </div>
                              
                                <div class="top-buffer">
                                    <span  *ngFor="let image of currentDisplayAds.adImageUrl" class="img-carousel">
                                            <img [src]="image" class="card-img-top" onError="this.src='assets/images/logo.png';" alt="..."
                                            width="40" height="35" (click)="mainImageChange(image)">
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-8 col-md-8 col-sm-8 col-xm-8 ad-desc pull-left" style="padding-left: 0;">
                                <div class="card-block">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12">
                                    <div class="pull-left">
                                        <h4 class="card-title1 text-left"><strong>{{currentDisplayAds.adTitle}}</strong></h4>
                                        <span class="clear">{{currentDisplayAds.adViews}} views, </span>
                                        <span class="clear">{{daysAgo}} days ago</span>
                                    </div>
                                    <div class="pull-right ad-close-btn">
                                        <a href="https://www.facebook.com/sharer/sharer.php?" target="_blank" class="share">
                                            Share on Facebook
                                        </a>
                                        <button type="button" id="heart" class="heart glyphicon glyphicon-heart" (click)="favouriteStorage(currentDisplayAds.adId)" aria-label="Close"></button>
                                        <button type="button" class="close" (click)="goback()" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                                    <hr class="hr-header col-lg-11 col-md-11 col-sm-11 col-xm-11"/>
                                    <!--<legend></legend>-->
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xm-12  detais-desc">
                                                    <div class="row" *ngIf="currentDisplayAds.adType.includes('Sell')">
                                                        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xm-5 pull-left">
                                                             <span class="btn-span"><button class="btn btn-buy-description">Buy</button></span>
                                                         </div>-->
                                                         <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11">
                                                             <p class="card-text text-bold" style="margin: 0; padding-top: 4px;">&#8377; {{currentDisplayAds.adPrice}}</p>
                                                         </div>
                                                     </div>
                                                     <div class="row" *ngIf="currentDisplayAds.adType.includes('Rent')">
                                                        <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xm-5 pull-left">
                                                             <span class="btn-span"><button class="btn btn-rent-description">Rent</button></span>
                                                         </div>-->
                                                         <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11">
                                                             <p class="card-text text-bold" style="margin: 0; padding-top: 4px;">&#8377; {{currentDisplayAds.adRentPrice}} {{adRentTypeToDisplay(currentDisplayAds.adRentType)}} </p>
                                                         </div>
                                                     </div>
                                                     <div class="row" *ngIf="currentDisplayAds.adType.includes('Donate')">
                                                         <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11 pull-left">
                                                             <span class="btn-span text-bold"><button class="btn btn-free-description">Free</button></span>
                                                         </div>
                                                     </div>
                                                     <div class="row">
                                                            <!--  <div class="col-lg-4 col-md-4 col-sm-6 col-xm-5 pull-left">
                                                                  <p class="label"><b>Condition </b></p>
                                                              </div>-->
                                                              <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11">
                                                                  <p class="card-text" >{{adConditionToDisplay(currentDisplayAds.adCondition)}}</p>
                                                              </div>
                                                          </div>
                                            <div class="row">
                                               <!-- <div class="col-lg-4 col-md-4 col-sm-6 col-xm-5 pull-left">
                                                    <p class="label"><b>Description </b></p><div id="result"></div>
                                                </div>-->
                                                <div class="col-lg-11 col-md-11 col-sm-11 col-xm-11">
                                                    <p *ngIf="currentDisplayAds.adInfo===''" class="card-text"><i>Contact user for info</i></p>
                                                    <p class="card-text"> {{currentDisplayAds.adInfo}}</p>
                                                </div>
                                            </div>
                                            
                                            
                                            <!--<div class="row">
                                                <div class="col-md-4 col-sm-12 pull-left">
                                                    <span class="btn-span">
                                                        <button class="btn btn-free-description" *ngIf="currentDisplayAds.adType.includes('Donate')">Free</button>
                                                        <button class="btn btn-rent-description" *ngIf="currentDisplayAds.adType.includes('Rent')">Rent</button>
                                                        <button class="btn btn-buy-description" *ngIf="currentDisplayAds.adType.includes('Sell')">Buy</button>
                                                    </span>
                                                </div>
                                                <div class="col-md-8 col-sm-12">
                                                    <p class="card-text">{{ad.adType}}</p>
                                                </div>
                                            </div>-->
                                        </div>
                                        <!--<div class="col-md-12 col-sm-12 " *ngIf="currentDisplayAds.adType!='Donate;'">
                                        <div class="row">
                                            <div class="col-md-4 col-sm-12 pull-left">
                                                <p class="label"><b>Status </b></p>
                                            </div>
                                            <div class="col-md-8 col-sm-12">
                                                <p class="card-text">{{adStatusToDisplay(ad.adStatus)}}</p>
                                            </div>
                                        </div>
                                        </div>-->
                                    </div>
                                </div>
                                <hr class="hr-header col-lg-11 col-md-11 col-sm-11 col-xm-11"/>
                            </div>
                            
                        </div>
                        
                      <!--  <legend style="margin: 0;"></legend>-->
                        <div class="row">
                            <div class="col-md-12" style="margin-top: 15px;">
                                <div class="col-md-4 owner-photo">
                                    <div class="">
                                        <img [src]="currentDisplayAds.adCreatedByImageUrl" class="img-circle img-responsive" onError="this.src='assets/images/download.png';" alt="..." style="float: right; border-radius: 0; width: 120px; height: 120px;">
                                    </div>
                                </div>
                                <div class="col-md-7 owner-details" style="padding-left: 0;">
                                    <div class="row">
                                        <div class="col-md-4 pull-left">
                                            <p class="label"><b>Owner Name</b></p>
                                        </div>
                                        <div class="col-md-8 owner-desc">
                                            <p class="owner-name">
                                                <b>{{nullCheck(currentDisplayAds).adCreatedByName}}</b>
                                            </p>
                                        </div>
                                    </div>
                                    <hr class="hr-header col-lg-11 col-md-11 col-sm-11 col-xm-11"/>
                                    <div class="row">
                                            <div class="col-md-4 pull-left">
                                                <p class="label"><b>Address</b></p>
                                            </div>
                                            <div class="col-md-8 owner-desc">
                                                <p class="owner-address" *ngIf="currentDisplayAds.address">{{nullCheck(currentDisplayAds.address).room}}, {{nullCheck(currentDisplayAds.address).locality}}, {{nullCheck(currentDisplayAds.address).city}},
                                                </p>
                                                <p> {{nullCheck(currentDisplayAds.address).state}}-{{nullCheck(currentDisplayAds.address).zipCode}}</p>
                                            </div>
                                        </div>
                                    <div class="row">
                                        <div class="col-md-4 pull-left">
                                            <p class="label"><b>Email ID</b></p>
                                        </div>
                                        <div class="col-md-8 owner-desc">
                                            <p class="owner-email"><a href="mailto:{{currentDisplayAds.email}}">{{currentDisplayAds.email}}</a></p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4 pull-left">
                                            <p class="label"><b>Phone Number</b></p>
                                        </div>
                                        <div class="col-md-8 owner-desc">
                                            <p class="owner-phone">{{currentDisplayAds.mobile}}</p>
                                        </div>
                                    </div>
                                    
                                        <!--<div class="col-md-8 owner-desc">

                                            <p class="owner-name">
                                                <u><b>{{nullCheck(currentDisplayAds).adCreatedByName}}</b></u>
                                            </p>
                                            <p class="owner-email"><a href="mailto:{{currentDisplayAds.email}}">{{currentDisplayAds.email}}</a></p>
                                            <p class="owner-phone">{{currentDisplayAds.mobile}}</p>
                                            <p class="owner-address" *ngIf="currentDisplayAds.address">{{nullCheck(currentDisplayAds.address).room}}, {{nullCheck(currentDisplayAds.address).locality}}, {{nullCheck(currentDisplayAds.address).city}},
                                            </p>
                                            <p> {{nullCheck(currentDisplayAds.address).state}}-{{nullCheck(currentDisplayAds.address).zipCode}}</p>

                                        </div>-->
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
        </div>

        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xm-12 col-md-offset-0">
    <div class="panel panel-default ad-list">
            <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12" style="padding:0;">
                           
                            <div *ngFor="let adSection of saac.adSections ;let i=index "> 
                                <div  *ngFor="let ad of adSection.sectionAds ;let j=index " class="d-inline col-lg-12 col-md-12 col-sm-12 ">
                           
                                        <!--Card-->
                                        <div class="d-inline col-lg-12 col-md-12 col-sm-12" style="padding:0 0 8px 0;">
                                            <div *ngIf="ad" (click)="navigateToAdDetailsTab(ad.adId)" class="card card-design row-eq-height text-center">
                                                <div class="col-lg-5 carousel-slider view overlay hm-white-slight" style="padding-right: 8px; height: 94px;">
                                                    <img [src]="ad.adImageUrl[0]" class=" card-img-top" onError="this.src='assets/images/download.png';" alt="..."
                                                        style="height: 100%; width: 100%;">
                                                    <a>
                                                        <div class="mask waves-effect waves-light"></div>
                                                    </a>
                                                </div>
                                            <div class="col-lg-7" style="padding-left: 0;">
                                                <div class="card-share">
                                                    <a class="btn-floating btn-action primary-color-dark float-right"><i class="fa fa-heart"></i></a>
                                                </div>
                                                <div class="card-block">
                                                    <h4 class="card-title-header">{{ad.adTitle}}</h4>
                                                    
                                                    <p class="card-text">{{adConditionToDisplay(ad.adCondition)}}</p>
                                                    <span class="btn-span">
                                                        <button class="btn btn-free" *ngIf="ad.adType.includes('Donate')">Free</button>
                                                        <button class="btn btn-rent" *ngIf="ad.adType.includes('Rent')">Rent</button>
                                                        <button class="btn btn-buy" *ngIf="ad.adType.includes('Sell')">Buy</button>
                                                    </span>
                                                </div>
                                            </div>

                                            <!-- <div class="card-footer">
                                                    <button (click)="navigateToAdDetailsTab(adResponse.ads[i].adId)" class="btn btn-primary">Go somewhere</button>
                                                </div> -->
                                            </div>
                                        </div>
                                </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
  </div>
  </div>
