// component css goes here
p {
    font-family: Roboto, Arial, sans-serif;
    letter-spacing: 0;
    font-size: 14px;
   
    color: #212121;
    line-height: 1.4;
      //text-align: left;
    // padding-left: 30px;
}

p.label {
    color: #878787;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    padding-left: 0;
}
h4.card-title-header{
    margin-top: 0;
    text-align: left;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap; 
}
button.close {
    font-size: 40px;
    border: none;
}
a.share {
    padding: 6px;
    border: 0;
    border-radius: 3px;
    font-size: 12px;
    color: #fff;
    background: #337ab7;
    text-decoration: none;
    vertical-align: super;
    cursor: pointer;
}
.card-design {
  //border: 1px solid #ddd;
  //  padding: 0% 1% 1% 1%;
  //  margin: 4% 2%;
   // border-radius: 5%;
    background-color: #FFF;
    cursor: pointer;
 //   box-shadow : 1px 1px 1px grey;
}
button.heart {
    font-size: 23px;
    color: #a8a8a8;
    padding: 7px 6px 5px 4px;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.heartrate, button.heart:hover {
    background-color: transparent;
    color: #FF7F7F;
}
.card-img > img {
    width : 101%;
}
.btn-span {
    display: flex;
}
.btn-span > button.btn {
    border-radius: 50%;
    color : white;
}
.btn-free{
  background-color:#33c0f9; 
  float: right;
  margin: -5px 5px 5px 0 ;
  padding : 3px 4px;
    
}
.btn-free-description {
    background-color: #33c0f9;
    float: right;
    margin: 0;
    padding: 3px 4px;
}
.btn-rent{
  background-color:#04d64f;
  float: right;
  margin: -5px 5px 5px 0 ;
  padding : 3px 4px;   
}
.btn-buy{
  background-color:#f57f17; 
  float: right;
  margin: -5px 5px 5px 0 ;
  padding : 3px 4px;  
}
.btn-free-description{
  background-color:#33c0f9; 
  float: right;
  margin: 0 ;
  padding : 3px 4px;
}
.btn-rent-description {
  background-color:#04d64f;
  float: right;
  margin: 0;
  padding : 3px 4px;   
}
.btn-buy-description{
  background-color:#f57f17; 
  float: right;
  margin: 0 ;
  margin-bottom: 8px;
  padding : 3px 4px;  
}
img.img-circle.img-responsive {
    max-width: 170px;
    max-height: 160px;
}
p.card-text{
    text-align: left;
}
.carousel-control { 
position: absolute;
top: 50%; /* pushes the icon in the middle of the height */
z-index: 5;
display: inline-block;
}

.card-design {
    background-color: white;
   // padding: 5% 3% 2% 2%;
   // border-radius: 2%;
    cursor: pointer;
}
.card-design :hover{
   // box-shadow : 2px 2px 2px grey;
    transform: scale3d(1.006, 1.006, 1);
}
// .carousel-container{
//         display: flex;
// }
// .multi-carousel{
//     width: 100%;
// }
// carousel.multi-carousel > div > a.carousel-control.left {
//     background-image: none;
//    // margin-left: -3%;
//     color: #FF8F17;
//    // width: 5%;
// }
// carousel.multi-carousel > div > a.carousel-control.right {
//     background-image: none !important;
//    // margin-left: 3%;
//     color: #FF8F17;
//    // width: 5%;
// } 

.h4, h4 {
    font-size: 18px;
      
}
h4.card-title{
    text-align: left;
    padding-left: 30px;
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

.panel{
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
.ad-list{
    overflow: scroll;
    max-height: 600px;
}
.clear {
    clear: both;
  }
  .hr-header{
      margin-top: 5px;
  }
  .detais-desc > .row {
    margin-bottom: 15px;
}
.text-bold {
    font-weight: 900;
}
.owner-photo{
    border-right: 1px solid grey;
    margin-right: 2%;
}
.owner-photo > div {
    margin-right: 5%;
}
.top-buffer{
    margin-top:2%;
}
.img-carousel{
    cursor: pointer;
}