// component css goes here
// component css goes here


.row-eq-height{
        min-height: 240px;
}
.h4, h4{
    text-align: left;
    padding-left: 20px;
}
h4.card-title{
    text-align: left;
    padding-left: 20px;
}
h4.card-title-header{
    text-align: left;
    padding-left: 4px;
    text-overflow: ellipsis; 
    overflow: hidden; 
    width: 220px; 
    white-space: nowrap; 
}
p.card-text{
    
    text-align: left;
    padding-left: 4px;
}
span.btn-span{
    align-self: right;
    padding-left: 10px;
}
.card-design {
  //border: 1px solid #ddd;
    padding: 0% 1% 1% 1%;
    margin: 0;
   // border-radius: 5%;
    background-color: #FFF;
    cursor: pointer;
   // box-shadow : 1px 1px 1px grey;
}
.card-design :hover{
   // box-shadow : 2px 2px 2px grey;
    transform: scale3d(1.006, 1.006, 1);
}
.card-img > img {
    width : 101%;
}
.card-footer{  
    position: absolute;
    bottom: 5%;
    width: 100%;
    left: -3%;
    text-align: center;
}
.btn-span > button.btn {
    border-radius: 50%;
    color : white;
}
.btn-free{
  background-color:#33c0f9;   
  float :right;
  margin: -15px 5px 5px 0 ;
  padding : 3px 4px;   
  }
button.btn.btn-free{
    text-align: left
    
}
.btn-rent{
  background-color:#04d64f; 
  float: right;
  margin: -15px 5px 5px 0 ;
  padding : 3px 4px;    
}
.btn-buy{
  background-color:#f57f17; 
  float: right;
  margin: -15px 5px 5px 0 ;
  padding : 3px 4px;    
}
.carousel-control {
position: absolute;
top: 50%; /* pushes the icon in the middle of the height */
z-index: 5;
display: inline-block;
}

.carousel-slider {
    border-radius: 7% 9% 0% 0%;
    OVERFLOW: auto;
}
a.right.carousel-control.carousel-control-next {
    background: transparent;
}
a.left.carousel-control.carousel-control-prev {
    background: transparent;
}
.search-results {
      height: 100% !important;
      // overflow: scroll;

    }
.panel-body-list{
    margin-left: 0 -125px 0 125px;
}
.panel-default {
    border-color: #f0f0f0;
}
.panel {
      border-radius: 0px;
}

.card-design  :hover {
   
    box-shadow: none; 
    border: none;
}
button.btn.pull-right {
    margin-top: 16px;
}