<div class="row">
<div class="col-md-12">
    <!--component html goes here -->

        <div class="search-results"
         infinite-scroll
         [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollThrottle]="throttle" (scrolled)="onScrollDown()">
            <div class="row">

                <div class="panel-default" >
                    <div class="panel-body-list">
                        <div class="row col-lg-12 col-md-12 col-sm-12">
                            <div class="d-inline col-lg-3 col-md-3 col-sm-3 " *ngFor="let ad of FavAdsList;let i=index ">


                                <!--Card-->
                                <div class="card card-design row-eq-height text-center" (click)="navigateToAdDetailsTab(ad.adId)">
                                    <div class="card-img">
                                        <img [src]="ad.adImageUrl[0]" class="card-img-top" onError="this.src='assets/images/download.png';" alt="..."
                                                    width="250" height="183">
                                        <a>
                                            <div class="mask waves-effect waves-light"></div>
                                        </a>
                                    </div>
                                    <div class="card-share">
                                        <a class="btn-floating btn-action primary-color-dark float-right"><i class="fa fa-heart"></i></a>
                                    </div>
                                    <div class="card-block">
                                        <h4 class="card-title-header">{{ad.adTitle}}</h4>
                                        
                                        <p class="card-text" >{{adConditionToDisplay(ad.adCondition)}}
                                            <span class="btn-span"><button class="btn btn-free" *ngIf="ad.adType.includes('Donate')">Free</button>
                                                                    <button class="btn btn-rent" *ngIf="ad.adType.includes('Rent')">Rent</button>
                                                                    <button class="btn btn-buy" *ngIf="ad.adType.includes('Sell')">Buy</button>
                                            </span>
                                        </p>


                                    </div>
                                    <!--  <div class="card-footer">
                                        <button (click)="navigateToAdDetailsTab(ad.adId)" class="btn btn-primary">Details</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
